@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Space+Grotesk&display=swap');

body {
    background: rgb(23, 88, 88);
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: rgb(241, 213, 177);
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
}

ul {
    border: .125rem silver outset;
    border-radius: .75rem;
    list-style: none;
    margin: 0 5rem;
    padding: 0;
}

li {
    border-radius: .5rem;
    line-height: 1.25rem;
    margin: .25rem 1rem;
    padding: .25rem 1rem;
}

li:hover,
li:focus {
    background-color: azure;
    cursor: pointer;
}
